<html>
  <head>
    <meta charset='utf-8' />
    <title>{{title}}</title>
    <style>
      /* Email styles go here */ body { font-family: Arial, sans-serif; }
    </style>
  </head>
  <body>
    {{{body}}}
    <footer>
      <p>Contact us at
        <a href='mailto:support@example.com'>support@example.com</a></p>
    </footer>
  </body>
</html>
